.cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
}

.cards-container img {
  height: 80%;
  width: 100%;
}

.carrousel {
  align-items: center;
  display: flex;
  height: 500px;
  overflow: auto;
  width: 100vw;
}

.carrousel div, .carrousel a {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
}

.carrousel div img {
  width: 100%;

}

.cards-container div {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
}
